body {
    background-color: tan;
    font-family: Arial, Helvetica, sans-serif; 
    text-align: center;
    margin: 0;
    padding: 40px;
}


h1 {
    color: #333;
    margin-bottom: 10px;
}


p {
    color: #555;
    font-size: 18px;
}


img {
    width: 250px;
    border-radius: 10px;
    margin-top: 20px;
}


a {
    display: inline-block;
    margin-top: 20px;
    font-size: 18px;
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
